################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitnessApp/FitnessApp.Android/bin/Debug
